
#navy {
    z-index: +1;
    padding: 10px 30px;
    background: #555;
    color: #f1f1f1;
}
.navbar-brand {
  padding: 10px 16px;
  background: rgb(43, 206, 179);
  color: #f1f1f1;
  font-weight: bold;
}
body{
  background-color:rgb(231, 230, 230);
}
p{
    text-align: center;
}
.h5{
  color: rgb(43, 206, 179)
}
#theader-row {
    padding: 10px 16px;
  background: rgb(43, 206, 179);
  color: #f1f1f1;
}
.container {
    padding: 16px;
    background-color: white;
}
td{
    padding: 10px;
}
footer{
  background-color: rgb(43, 206, 179);
  color: white;
  text-align: center;
  padding: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
.sticky + .container {
    padding-top: 102px;
  }  